@font-face {
  font-family: "Gotham Condensed Extra Black";
  src: url("/src/fonts/GothamCond-XBlack.otf");
}
@font-face {
  font-family: "Gotham Book";
  src: url("/src/fonts/Gotham-Book.otf");
}
@font-face {
  font-family: "Gotham Bold";
  src: url("/src/fonts/Gotham-Bold.otf");
}
@font-face {
  font-family: "Gotham Narrow Medium";
  src: url("/src/fonts/GothamNarrow-Medium.otf");
}

:root {
  --slider-height: 1.5vw;
  --slider-background-image: url("/src/img/slider-icon.png");
  --slider-thumb-scale: 1.4;
}

body,
html {
  margin: 0;
}

/* Page 1 */

.widget-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  
  /* display: none; */
}

.background {
  width: 100%;
  /* height: 100vh; */
}

.widget {
  position: absolute;
  width: 100%;
  top: 0;
  display: grid;
  justify-content: center;
  margin: auto;
  place-items: center;
}

.title {
  background-color: #bc0000;
  color: white;
  font-family: "Gotham Condensed Extra Black";
  font-size: 5vw;
  padding: 0 1vw;
  margin-top: 0.5vw;
  text-align: center;
}

.subtitle {
  font-family: "Gotham Condensed Extra Black";
  font-size: 2.5vw;
  color: white;
  margin: 1vw 0;
  text-align: center;
}

/* Slider style */

.box {
  width: 90%;
  height: fit-content;
  border: 2px solid white;
  border-top: none;
  border-radius: 0.8vw 0.8vw 1.4vw 1.4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: var(--slider-height);
  padding: 0;
  margin: 0;
  margin-left: -0.1vw;
  border-radius: 25px;
  background: transparent;
  outline: none;
  border: 2px solid white;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: calc(var(--slider-height) * var(--slider-thumb-scale));
  height: calc(var(--slider-height) * var(--slider-thumb-scale));
  border: 0;
  background-image: var(--slider-background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: calc(var(--slider-height) * var(--slider-thumb-scale));
  height: calc(var(--slider-height) * var(--slider-thumb-scale));
  border: 0;
  background-image: var(--slider-background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
}

.income-info {
  display: flex;
  justify-content: space-between;
}

.question,
.val {
  margin: 0.8vw;
  padding: 0 0.1vw;
  color: white;
  font-size: 1.5vw;
}

.question {
  font-family: "Gotham Book";
}

.val {
  font-family: "Gotham Bold";
  align-self: flex-end;
}

.question2 {
  font-family: "Gotham Bold";
  color: #aa3f49;
  font-size: 1.8vw;
  text-align: center;
  padding-top: 1.8vw;
}

/* Increase/Decrease Value */

.row {
  display: flex;
  padding-top: 5vw;
  width: 115%;
  justify-content: space-between;
}

.household-people {
  text-align: center;
  position: relative;
}

.age {
  display: block;
  margin-top: 0.5vw;
  font-family: "Gotham Book";
  font-size: 1.5vw;
  align-self: center;
  color: #aa3f49;
}

.household-people .age {
  position: absolute;
  width: 100%;
}

.increase,
.decrease,
.number {
  display: inline-block;
  border: 1px solid white;
  width: 3.5vw;
  height: auto;
  text-align: center;
  vertical-align: middle;
  padding: 0.5vw 0;
  font-family: "Gotham Narrow Medium";
  font-size: 2vw;
  user-select: none;
}

.decrease {
  border-radius: 5px 0px 0px 5px;
  background-color: #a16a6d;
  color: white;
  border-right: none;
}

.increase {
  border-radius: 0px 5px 5px 0px;
  background-color: white;
  color: #bc0000;
}

.decrease:active,
.increase:active {
  transform: translateY(1px);
}

.decrease:active {
  background-color: #a04b4e;
}

.increase:active {
  background-color: #cec8c8;
}

.increase:hover,
.decrease:hover {
  cursor: pointer;
}

.number {
  background-color: transparent;
  margin: 0 -0.5vw;
  color: white;
  border-left: none;
  border-right: none;

  z-index: -1;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.calculate {
  /* font-family: "Gotham Bold";
  font-size: 4vw;
  background-color: transparent;
  border: none;
  color: white;
  margin-top: 19vw;
  text-align: center;
  line-height: 50px;
  text-shadow: -5px 0px 15px #410707;
  transition: color 0.3s ease-in-out;
  cursor: pointer; */
  font-family: "Gotham Bold";
  font-size: 3vw;
  display: inline-block;
  vertical-align: top;
  position: relative;
  line-height: 100%;
  cursor: pointer;
  margin-top: 12vw;
  color: white;
  text-shadow: -5px 0px 15px #410707;
}

/* .calculate:hover {
  color: red;
  transition: color 0.3s ease-in-out;
  position: relative;
} */

.calculate:before {
  transition: height 0.5s ease;
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  height: 0px;
  color: rgba(188, 0, 0, 100);
  left: 0;
  top: 0;
  text-shadow: none;
}

.calculate:hover:before {
  height: 100%;
}

/* Page 2 */

.graph-container {
  position: relative;
  justify-content: center;
  display: none;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}
/* position: relative;
  display: flex;
  justify-content: center;
  width: 50vw;
  margin-left: auto;
  margin-right: auto; */

.result {
  font-family: "Gotham Bold";
  font-size: 2vw;
  margin: 3vw;
}

.income-range {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gotham Book";
  font-size: 2vw;
}

.rows {
  margin-bottom: 3vw;
}

.dynamic-line {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 0px;
  border-top: 5px solid rgba(188, 0, 0, 1);
  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
  background-color: #ffffff;

  z-index: 1;
  opacity: 0.5;
  transition: height 0.5s ease, opacity 0.5s ease; /* Smooth transition for height and opacity */
}

#dynamic-line {
  min-height: 10%;
  max-height: 67.5%;
}
/* On hover, increase the height and make everything below translucent */
/* .graph-container:hover .dynamic-line {
  opacity: 0.5;
} */

.topline {
  position: absolute;
  bottom: 0;
  left: 10%; /* Align to the center like the dynamic line */
  width: 80%; /* Match the width of the dynamic line */
  height: 2px; /* Height of the topline */
  z-index: 3; /* Ensure the topline is above the dynamic line and its top border */
  /* display: none; */
}

.shape {
  position: relative;
  width: 100px; /* Adjust the width of the container as needed */
  height: 50px;
  margin: 80px auto;
}

/* .pill {
  width: 100%;
  height: 30%;
  border-radius: 30px;
  background-color: #ffffff;
  border: 5px solid #bc0000;
  position: absolute;
  z-index: 5;
}
.arrow {
  width: 0;
  height: 0;
  position: absolute;
  background-color: transparent;
  left: 50%;
}
.arrow.top {
  top: -120%;
  margin-left: -10%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #bc0000;
}
.arrow.bottom {
  bottom: -120%;
  margin-left: -10%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #bc0000;
}

hr {
  background-color: #bc0000;
  border: 1px solid #bc0000;
  border-radius: 7px 7px 7px 7px;
  height: 4px;
  margin-top: 5%;
  width: 100%;
  transform: translateY(37vh);
} */
