@font-face {
  font-family: "Gotham Condensed Extra Black";
  src: url("/src/fonts/GothamCond-XBlack.otf");
}
@font-face {
  font-family: "Gotham Book";
  src: url("/src/fonts/Gotham-Book.otf");
}
@font-face {
  font-family: "Gotham Bold";
  src: url("/src/fonts/Gotham-Bold.otf");
}
@font-face {
  font-family: "Gotham Narrow Medium";
  src: url("/src/fonts/GothamNarrow-Medium.otf");
}

:root {
  --slider-height: 1.2em;
  --slider-background-image: url("/src/img/slider-icon.png");
  --slider-thumb-scale: 1.7;
}

body,
html {
  margin: 0;
}

/* Page 1 */

.widget-container {
  position: relative;
  display: flex;
  justify-content: center;
  /* display: none; */
}

.background {
  width: 80vw;
  /* height: 100vh; */
}

.widget {
  position: absolute;
  width: 100%;
  top: 0;
  display: grid;
  justify-content: center;
  margin: auto;
  place-items: center;
}

.title {
  background-color: #bc0000;
  color: white;
  font-family: "Gotham Condensed Extra Black";
  font-size: 7vw;
  padding: 0 2vw;
  margin-top: 1vw;
  text-align: center;
}

.subtitle {
  font-family: "Gotham Condensed Extra Black";
  font-size: 4vw;
  color: white;
  padding: 1.5vw 0;
  text-align: center;
}

/* Slider style */

.slider {
  -webkit-appearance: none;
  width: 99.5%;
  height: var(--slider-height);
  padding: 0;
  margin: 0;
  border-radius: 15px;
  background: transparent;
  outline: none;
  border: 2px solid white;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
  width: calc(var(--slider-height) * var(--slider-thumb-scale));
  height: calc(var(--slider-height) * var(--slider-thumb-scale));
  border: 0;
  background-image: var(--slider-background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
}

.box {
  width: 90%;
  height: fit-content;
  border: 2px solid white;
  border-top: none;
  border-radius: 13px;

  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

.income-info {
  display: flex;
  justify-content: space-between;
}

.question,
.val {
  margin: 0.75vw;
  padding: 0.5vw;
  color: white;
}

.question {
  font-size: 3vw;
  font-family: "Gotham Book";
}

.val {
  font-family: "Gotham Bold";
  align-self: flex-end;
  font-size: 3.2vw;
}

.question2 {
  font-family: "Gotham Bold";
  color: #aa3f49;
  font-size: 3vw;
  text-align: center;
  padding-top: 4vw;
}

/* Increase/Decrease Value */

.row {
  display: flex;
  padding-top: 10vw;
  width: 100%;
  justify-content: space-between;
}

.household-people {
  text-align: center;
  position: relative;
}

.age {
  display: block;
  margin-top: 0.5vw;
  font-family: "Gotham Book";
  font-size: 2vw;
  align-self: center;
  color: #aa3f49;
}

.household-people .age {
  position: absolute;
  width: 100%;
}

.increase,
.decrease,
.number {
  display: inline-block;
  border: 1px solid white;
  width: 3.5vw;
  height: auto;
  text-align: center;
  vertical-align: middle;
  padding: 0.5vw 0;
  font-family: "Gotham Narrow Medium";
  font-size: 2vw;
  user-select: none;
}

.decrease {
  border-radius: 5px 0px 0px 5px;
  background-color: #a16a6d;
  color: white;
  border-right: none;
}

.increase {
  border-radius: 0px 5px 5px 0px;
  background-color: white;
  color: #bc0000;
}

.decrease:active,
.increase:active {
  transform: translateY(1px);
}

.decrease:active {
  background-color: #a04b4e;
}

.increase:active {
  background-color: #cec8c8;
}

.increase:hover,
.decrease:hover {
  cursor: pointer;
}

.number {
  background-color: transparent;
  margin: 0 -0.5vw;
  color: white;
  border-left: none;
  border-right: none;

  z-index: -1;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* .calculate {
  font-family: "Gotham Bold";
  font-size: 4vw;

  border: none;

  color: rgba(255, 255, 255, 1);
  background: linear-gradient(to bottom, white 0, 20%, #bc0000 50%);

  background-clip: text;
  -webkit-background-clip: text;
  transition: color 0.2s ease-in-out;
  animation: gradient-hover 5s ease-in-out infinite;
  background-size: 200% 200%;
  /* color: transparent;
  background-image: linear-gradient(to bottom, white 0%, white 100%);
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;  */
/* margin-top: 19vw;
  text-align: center; */
/* text-shadow: -5px 0px 15px #410707; */
/* cursor: pointer; */
/* } */

.calculate-text {
  font-family: "Gotham Bold";
  font-size: 4vw;
  display: inline-block;
  vertical-align: top;
  position: relative;
  line-height: 50px;
  cursor: pointer;
  margin: 20px;
  color: white;
}

.calculate-text:before {
  transition: height 0.8s ease;
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  height: 0px;
  color: rgba(188, 0, 0, 100);
  left: 0;
  top: 0;
}

.calculate-text:hover:before {
  height: 50px;
}

/* @keyframes changeColor {
  to {
    background-position: top left;
  }
} */

/* .calculate:hover {
  color: rgba(188, 0, 0, 0);
} */

/* @keyframes gradient-hover {
  0% {
    background-position-y: 0%;
  }

  10% {
    background-position-y: 10%;
  }

  25% {
    background-position-y: 25%;
  }

  50% {
    background-position-y: 50%;
  }

  75% {
    background-position-y: 75%;
  }
  100% {
    background-position-y: 100%;
  }
} */

/* Page 2 */

.graph-container {
  position: relative;
  justify-content: center;
  display: none;
}

.result {
  font-family: "Gotham Bold";
  font-size: 3vw;
  padding: 5vw;
}

.income-range {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gotham Book";
  font-size: 3vw;
  padding-top: 1vw;
}

.row1 {
  padding-bottom: 3.8vw;
}

.dynamic-line {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 0px;
  border-top: 2px solid #bc0000;
  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
  background-color: #ffffff;
  user-select: none;
  z-index: 1;
  opacity: 0.5;
  transition: height 0.5s ease, opacity 0.5s ease; /* Smooth transition for height and opacity */
}

#dynamic-line {
  min-height: 10%;
  max-height: 67.5%;
}

/* .topline {
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  z-index: 3;
}

.shape {
  position: relative;
  width: 100px;
  height: 50px;
  margin: 80px auto;
}

.pill {
  width: 100%;
  height: 30%;
  border-radius: 30px;
  background-color: #ffffff;
  border: 5px solid #bc0000;
  position: absolute;
  z-index: 5;
}
.arrow {
  width: 0;
  height: 0;
  position: absolute;
  background-color: transparent;
  left: 50%;
}
.arrow.top {
  top: -120%;
  margin-left: -10%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #bc0000;
}
.arrow.bottom {
  bottom: -120%;
  margin-left: -10%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #bc0000;
}

hr {
  background-color: #bc0000;
  border: 1px solid #bc0000;
  border-radius: 7px 7px 7px 7px;
  height: 4px;
  margin-top: 5%;
  width: 100%;
  transform: translateY(37vh);
} */
